VITE_SUPABASE_URL=https://lqxlmplbxdkwcwwpwhet.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxxeGxtcGxieGRrd2N3d3B3aGV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMzQ3NzEsImV4cCI6MjA5MDgxMDc3MX0.hE-b8YCq0H9SIsUqUOPMs9YBaAApVNwfUji5cEUfA-Q
